@media screen and (min-width: 768px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    #nav-menu {
        display: flex;
    }

    nav ul {
        flex-direction: row;


    }

    nav ul li a {
        text-align: center;
        font-size: 1.3em;
    }

    .menu-show,
    .menu-hide,
    .menu-show.showing,
    .menu-hide.showing {
        display: none;
    }
    .aboutme{
        width:900px;
        height:350
    }
    .aboutme .about-container{
        display:flex;
        align-items:center;
        
    }
    #aboutme img {
        max-width: 300px; 
        height: 350px
      }
      
      .aboutme p {
        flex: 1;
        
      }
      .services{
        /* display:flex; */
        justify-content: center;
        display:grid;
        grid-template-columns: 450px 450px  ;
        
      }
}